<!DOCTYPE html>
<html lang="en">
<head>
<title>Wedding | Links</title>
<meta charset="utf-8">
<%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "layout" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>

</head>
<body id="page4">
<!-- START PAGE SOURCE -->
<div class="extra">
  <div class="main">


    <section id="content">
      <article class="col1">
        <h2><span>Favorite</span> Quotations</h2>
        <div class="wrapper">
          <figure class="left marg_right1"><a href="#"><img src="C:\Users\Amir\Downloads\IR\ruby\work\wedding\public\images/page4_img1.jpg" alt=""></a></figure>
          <p class="pad_bot1 pad_top1"><a href="#">Quotations Reference 1</a></p>
          <p>Whoever gets married, has safeguarded half of his religion. - The Prophet of Islam (saw).

         There is no better structure founded in Islam other than marriage. - The Prophet of Islam (saw).</p>
        </div>
        <div class="wrapper">
          <figure class="left marg_right1"><a href="#"><img src="C:\Users\Amir\Downloads\IR\ruby\work\wedding\public\images/page4_img2.jpg" alt=""></a></figure>
          <p class="pad_bot1 pad_top1"><a href="#">Quotations Reference 2</a></p>
          <p>
          May Allah bless a man who creates a good relationship with his wife, because Allah has appointed man to be the guardian of his wife. - Imam Ja'far al-Sadiq (as)</p>

<p>When you love someone, let the person know. - Imam Ja'far al-Sadiq (as)</p>
<p>Whoever marries must respect his wife. - Imam Ja'far al-Sadiq (as)</p>
<p>The best women among your women are those who show appreciation when their husbands bring home something and are not discontented if nothing is brought home. - Imam Ja'far al-Sadiq (as)</p>
<p>Who is lucky man? "Imam Rida (as) stated: The greatest gain for a man is a faithful woman who, when she sees him, becomes happy and protects his property and her own honor in his absence.</p>
        </div>
        <div class="wrapper">
          <figure class="left marg_right1"><a href="#"><img src="C:\Users\Amir\Downloads\IR\ruby\work\wedding\public\images/page4_img3.jpg" alt=""></a></figure>
          <p class="pad_bot1 pad_top1"><a href="#">Quotations Reference 3</a></p>
          <p>If a man helps his spouse in household work, Allah records for him spiritual reward equal to the hair on his body as if he had fasted during days and offered prayers during nights for one full year. - The Prophet of Islam (saw)</br></br>

A man said to the Messenger of Allah (saw): I have a wife who welcomes me at the door when I enter the house, and sees me off when I leave. When she sees me grieved, asks me: 'What are you grieved for? If you are anxious about your livelihood, it is guaranteed by other than you: or if you are worried about the hereafter, may Allah increase your worries.' The Messenger of Allah said: "Allah has agents and she is one of them. She will get half a martyr's reward."</br></br>

The Messenger of Allah was asked, "What rights do our wives have over us?" He replied: "You shall feed her as you feed yourself, clothe her as you clothe yourself; you shall not slap her on the face, nor revile [her], nor leave her [alone] except within the house."</p>
        </div>
        <div class="wrapper">
          <figure class="left marg_right1"><a href="#"><img src="C:\Users\Amir\Downloads\IR\ruby\work\wedding\public\images/page4_img4.jpg" alt=""></a></figure>
          <p class="pad_bot1 pad_top1"><a href="#">Quotations Reference 4 </a></p>
          <p>If a woman does not perform her duty as a spouse, she has not done her duty to Allah. - The Prophet of Islam (saw)</br></br>

A bad woman does not forgive her husband's mistake and does not accept his apology. - The Prophet of Islam (saw)</br></br>

Engage in marriage; because this is the tradition of the Prophet (saw) of Allah. - Imam Ali (as)</br></br>

Women are like flowers. They should be treated gently, kindly, and with affection. - Imam Ali (as)</br></br>

Act moderately with women in every instance. Speak to them nicely in order that their deeds become good. - Imam Ali (as)</p>
        </div>

<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2010 ANSMarriage.com- All Rights Reserved</p>
    <p class="rf">&nbsp;</p>
    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>